extends layout

block content   
        each post in posts
                - var postDate = post.CREATE_DATE
                article(class="article-class")
                        header
                                span(style='color:grey; font-size: 0.8rem;') #{postDate.toLocaleString('en-US', { timeZone: 'UTC' })}
                                h2= post.TITLE
                        section!= post.CONTENT
                        hr 
        div(class='footer-button')
                button(class='pure-button pure-button-primary')="Load more"