extends layout

block content
        each post in posts
                - var postDate = post.CREATE_DATE   
                - var postTitleUrl = post.TITLE.replace(/\s/g, '_');
                article(class="article-class")
                        header
                                span(style='color:grey; font-size: 0.8rem;' id='date-section') #{postDate.toLocaleString('en-US', { timeZone: 'UTC' })}
                                a(class='post-link' href=`post/?title=${postTitleUrl}`)
                                        h2(id='title-section')= post.TITLE                        
                        hr