body {  
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;    
  padding: 50px 0 0 50px;
}

a {
  color: #00B7FF;
}

.content {
  max-width: 1200px;
  margin: auto;
}

.menu {
  margin-right: 1rem;
}


.article-class {  
  margin-bottom: 2rem;
}

.footer-button {
  margin-bottom: 3rem;
  text-align: center;
}


/* loader.css */
.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 5px solid #ccc;
  border-top: 5px solid #333;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}
